<h1>Shopping Cart</h1>
<p>You have {{count}} items in your cart</p>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody *ngIf="cartItems && productIds">
        <tr *ngFor="let productId of productIds">
            <td >{{cartItems[productId].product.Title}} </td>
            <td> <shopping-button [product]="cartItems[productId].product" [cart]="cart"></shopping-button> </td>
            <td> {{ getPrice(productId) | currency:'INR' }} </td>
        </tr>
    </tbody>
    <tfoot><tr>
        <td><b>Total Amount</b></td>
        <td></td>
        <td><b>{{sum | currency:'INR'}}</b> </td>
    </tr> </tfoot>
</table>
