<div class="row">
    <div class="col-md-6">
        <form #form="ngForm" (ngSubmit)="save(form)">

            <!-- Title -->
            <div class="form-group">
                <label for="title">Title</label>
                <input #title="ngModel" [(ngModel)]="product.Title" name="Title" required type="text" id="title" class="form-control">
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    Title is required
                </div>
            </div>

            <!-- price -->
            <div class="form-group">
                <label for="price">Price</label>
                <div  class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text">₹</span>
                    </div>
                    <!--we are using external library ng2-validations like [min]-->
                    <input #price="ngModel" required [(ngModel)]="product.Price" name="Price" required type="text" id="price" class="form-control" [min]="0">
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.errors">
                    <div *ngIf="price.errors.required">price is required</div>
                    <div *ngIf="price.errors.min">Please enter a valid number</div>
                </div>
            </div>

            <!-- Category -->
            <div class="form-group">
                <label for="category">Category</label>
                <select #category="ngModel" required [(ngModel)]="product.Category" name="Category" required id="category" class="form-control">
                    <option value=""></option>
                    <option *ngFor="let category of categories$ | async" [value]="category.key">
                        {{$any(category.payload.val()).name}}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                    category is required
                </div>
            </div>

            <!-- Image URL -->
            <div class="form-group">
                <label for="imageUrl">Image URL</label>
                <!--we are using external library ng2-validations for 'url' validation-->
                <input #imageUrl="ngModel" [(ngModel)]="product.ImageUrl" name="ImageUrl" required url type="text" id="imageUrl" class="form-control">
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.errors">
                    <div *ngIf="imageUrl.errors.required">URL is required</div>
                    <div *ngIf="imageUrl.errors.url">Please enter a valid URL</div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <!-- Bootstrap Card -->
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img [src]="product.ImageUrl" class="card-img-top" alt="Product Image">
            <div class="card-body">
              <h5 class="card-title">{{product.Title}} </h5>
              <p class="card-text">{{product.Price | currency:'INR':true}} </p>
            </div>
        </div>
        <div style="margin-top: 10px;">
            <button class="btn btn-primary" (click)="show()">show categories on console</button>
        </div>
    </div>

</div>




    

