

<div class="row">
    <ng-container  *ngFor="let product of filteredProducts;let i = index" class="card" >
        <div class="col-md-4 col-sm-4 oneBox">
            <img *ngIf="product.ImageUrl" [src]="product.ImageUrl" class="card-img-top" alt="Product Image">
            <img *ngIf="!product.ImageUrl" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Solid_grey.svg/768px-Solid_grey.svg.png" alt="Sample">
            <div class="card-body">
                <div class="row">
                    <div class="col details">
                        <div class="row">{{product.Title}}</div>
                        <div class="row">{{product.Price | currency:'INR'}} </div>
                    </div>
                </div>
                <div *ngIf="getQuantity(product) <=0 else updateQuantity">
                    <button (click)="addToCart(product)" class="btn btn-primary">Add to Cart</button>
                </div>
                <ng-template #updateQuantity>
                    <shopping-button [product]="product" [cart]="cart"></shopping-button>
                </ng-template>
            </div>
        </div>
        <div *ngIf=" ( i+1 ) % 3 == 0" class="w-100"></div>
    </ng-container>
</div>





